*{
    box-sizing: border-box;
    background-color: #e8e8e8;
    font-family: monospace;
}

h1{
    font-size: 3.5em;
    text-align: center;
    letter-spacing: 1px;
}

h2{
    text-align: center;
}

/* .container{
    min-width: 500px;
    max-width: 1400px;
} */

.logo{
    color: #e7645a;
    display: block;
}

nav{
    text-align: right;
}

body{
    margin: 0;
}

button{
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
    border-width: 2px;
    background-color: #e7645a;
    padding: 5px 10px;
    border: 1px solid black;
    letter-spacing: 1px;
}

#banner{
    padding: 50px;
    /* background-image: url(https://d2nb51khh83712.cloudfront.net/images/large/10_proven_Fitness_3_1542d6757d.png); */
}

#nosotros{
    
}

a:visited{
    color: black;
}

footer{
    text-align: right;
}