*{
    box-sizing: border-box;
}

h1{font-size: 2.5em;}
h2{font-size: 1.75em;}
p{font-size: 1.2em;}
ul{list-style: none;}
li{font-size: 1.2em;}

body{
    font-family: monospace, sans-serif;
}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    color: white;
    background-color: #F18805;
}

button:hover{
    background-color: #F0A202;
}