/* pallete{
    color: #2B2E4A;
    color: #E84545;
    color: #903749;
    color: #53354A;
} */

*{
    box-sizing: border-box;
}

h1{font-size: 2.5em;}
h2{font-size: 1.75em;}
p{font-size: 1.2em;}
ul{list-style: none;}
li{font-size: 1.2em;}

body{
    font-family: monospace, sans-serif;
}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    color: white;
    background-color: #E84545;
}

button:hover{
    background-color: #903749;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.accent-color{ color: #E84545; }

header{
    background-color: rgb(237,237,237);
}

.logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 1.6em;
    color: #E84545;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #2B2E4A;
}

header a:hover{
    color: #E84545;
}

#banner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(https://img.freepik.com/free-photo/dumbbells-fitness_335224-876.jpg?t=st=1655955929~exp=1655956529~hmac=36979f5a52617d2aa3e9da2feb27550d79c4663e48536a2529c6272a40d43bb7&w=996);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#banner h1{
    color: white;
}

#nosotros{

}

#nosotros .container{
    text-align: center;
    padding: 200px 12px;
}